<div class="admin-content">
  <div class="admin-content-body">

    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">办理退房</strong>
      </div>
    </div>
    <hr>

    <div class="am-g am-margin-top">
        <div  class="am-u-sm-8 am-u-md-4 am-u-md-offset-4">
            <img src="assets/done.png">
            <br>
            <br>
            <a href="/" class="am-u-md-offset-2">退房成功</a>
        </div>
        
    </div>
  </div>
</div>    
