<div class="admin-content">
  <div class="admin-content-body">

    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">办理退房</strong>
      </div>
    </div>
    <hr>

    <div style="text-align: center;">
        <div>
            <img src="assets/done.png">
            <br>
            <br>
            <a href="/">退房成功</a>
        </div>
        
    </div>
  </div>
</div>    
