<div class="admin-content">
<%= form_tag("/checkouting", method: "post") do %>
  <div class="admin-content-body">

    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">办理退房</strong>
      </div>
    </div>
    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">基本信息</a></li>
      </ul>
      <div>    

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active">

            <div class="am-g am-margin-top">
              <div class="am-u-sm-6 am-u-md-5 am-text-right">
                房间号
              </div>
              <div class="am-u-sm-6 am-u-md-7">
                <input type="text" class="am-input-sm" name="checkout_room">
              </div>
            </div>

        </div>
      </div> 

      </div>     
    </div>            


  </div>
    <div class="am-margin am-pagination am-pagination-right">
      <input type="submit" class="am-btn am-btn-primary am-btn-xs" value="提交保存">
      <button type="button" class="am-btn am-btn-primary am-btn-xs" onclick="window.location.href='/'">放弃保存</button>
    </div>  
<% end %>  
</div>    