
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>酒店动态</small></div>
</div>

<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{&quot;animation&quot;:&quot;slide&quot;,&quot;controlNav&quot;:&quot;thumbnails&quot;}' >
  <ul class="am-slides">
      <li data-thumb="/assets/60.jpg">
        	<img src="/assets/60.jpg">
         
      </li>
      <li data-thumb="/assets/602.jpg">
        	<img src="/assets/602.jpg">
         
      </li>
      <li data-thumb="/assets/75.jpg">
        	<img src="/assets/75.jpg">
         
      </li>
      <li data-thumb="/assets/603.jpg">
        	<img src="/assets/603.jpg">
         
      </li>
  </ul>
</div>
