
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">预定酒店</strong> /
        <small>登记信息</small>
      </div>
    </div>
    <hr>

        <div style="text-align: center;">
            <br>
            <br>   
            <br>
            <br>                 
            <img src="assets/done.png">
            <br>
            <br>
            <a href="/">完成登记</a>            
        </div>


